#navbarSection {
  border: red 1px solid;
  overflow: hidden;
  background-color: #333;
  margin-top: -30vh;
  position: fixed;
}

#navbarParent {
  border: purple 3px solid;
}

.links {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}