#navbarSection {
  border: red 1px solid;
  overflow: hidden; 
  /* margin-top: -14vh; */
  position: sticky;
  /* top: 100; */
  bottom: 0;
  
}

#navbarParent {
  border: purple 3px solid;
}
/* background-color: rgba(0, 0, 0, 0); */

.links {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border: green 1px solid;
}