#navbarSection {
  /* border: red 1px solid; */
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}

#navbarParent {
  /* border: purple 3px solid;   */
  background-color: rgba(0, 0, 0, 0);
}
/* background-color: rgba(0, 0, 0, 0); */

.navbarContainer{
  background-color: rgba(0, 0, 0, 0);
}

/* .brandName{
  border: 1px red solid;
  background-color: black;
  color: white;
} */

.links {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  /* border: green 1px solid; */
  
}